services:
  cadnav-server:
    image: aellul27/cachyos-v4:latest
    working_dir: /app
    command: >-
      sh -c "pacman -Sy --noconfirm nodejs npm && npm install && npm run start"
    volumes:
      - ./:/app
      - node_modules_cache:/app/node_modules
    environment:
      NODE_ENV: production
      SERVER_PORT: 5000
    ports:
      - "5000:5000"
    restart: unless-stopped

volumes:
  node_modules_cache:
